# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_metadata

# Données sensibles (données de production ArcelorMittal confidentielles)
data/
*.csv
*.xlsx
*.parquet

# macOS
.DS_Store

# Modèles entraînés (trop lourds pour git)
*.pkl
*.joblib
*.h5
*.model
